In [77]:
import pandas as pd
import numpy as np
import pandas_profiling
import matplotlib.pyplot as plt

In [80]:
df=pd.read_csv("https://raw.githubusercontent.com/iNeuronai/EDACollection/master/Cristiano_Ronaldo/yds_data.csv")

In [83]:
df2=df.copy()

In [86]:
df2.head()

,Unnamed: 0,match_event_id,location_x,location_y,remaining_min,power_of_shot,knockout_match,game_season,remaining_sec,distance_of_shot,...,lat/lng,type_of_shot,type_of_combined_shot,match_id,team_id,remaining_min.1,power_of_shot.1,knockout_match.1,remaining_sec.1,distance_of_shot.1
0,0,10.0,167.0,72.0,10.0,1.0,0.0,2000-01,27.0,38.0,...,"45.539131, -122.651648",shot - 30,NaN,20000012,1610612747,10.00,1.0,50.608,54.2000,38.0
1,1,12.0,-157.0,0.0,10.0,1.0,0.0,2000-01,22.0,35.0,...,"45.539131, -122.651648",shot - 45,NaN,20000012,1610612747,10.00,1.0,28.800,22.0000,35.0
2,2,35.0,-101.0,135.0,7.0,1.0,0.0,2000-01,45.0,36.0,...,"45.539131, -122.651648",shot - 25,NaN,20000012,1610612747,92.64,1.0,0.000,63.7216,54.4
3,3,43.0,138.0,175.0,6.0,1.0,0.0,2000-01,52.0,42.0,...,"45.539131, -122.651648",NaN,shot - 3,20000012,1610612747,NaN,1.0,122.608,52.0000,42.0
4,4,155.0,0.0,0.0,NaN,2.0,0.0,2000-01,19.0,20.0,...,"45.539131, -122.651648",NaN,shot - 1,20000012,1610612747,42.64,2.0,0.000,19.0000,20.0

In [89]:
df.head()

,Unnamed: 0,match_event_id,location_x,location_y,remaining_min,power_of_shot,knockout_match,game_season,remaining_sec,distance_of_shot,...,lat/lng,type_of_shot,type_of_combined_shot,match_id,team_id,remaining_min.1,power_of_shot.1,knockout_match.1,remaining_sec.1,distance_of_shot.1
0,0,10.0,167.0,72.0,10.0,1.0,0.0,2000-01,27.0,38.0,...,"45.539131, -122.651648",shot - 30,NaN,20000012,1610612747,10.00,1.0,50.608,54.2000,38.0
1,1,12.0,-157.0,0.0,10.0,1.0,0.0,2000-01,22.0,35.0,...,"45.539131, -122.651648",shot - 45,NaN,20000012,1610612747,10.00,1.0,28.800,22.0000,35.0
2,2,35.0,-101.0,135.0,7.0,1.0,0.0,2000-01,45.0,36.0,...,"45.539131, -122.651648",shot - 25,NaN,20000012,1610612747,92.64,1.0,0.000,63.7216,54.4
3,3,43.0,138.0,175.0,6.0,1.0,0.0,2000-01,52.0,42.0,...,"45.539131, -122.651648",NaN,shot - 3,20000012,1610612747,NaN,1.0,122.608,52.0000,42.0
4,4,155.0,0.0,0.0,NaN,2.0,0.0,2000-01,19.0,20.0,...,"45.539131, -122.651648",NaN,shot - 1,20000012,1610612747,42.64,2.0,0.000,19.0000,20.0

In [ ]:
pf=df.profile_report()
pf

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

In [ ]:
df.shape

# A. Data Preprocessing

# 1. Exploring the Columns of Dataset

In [ ]:
df.describe()

In [ ]:
df.info()

In [ ]:
df.columns

In [ ]:
df['area_of_shot'].unique

# 2. Checking for Missing Values

In [ ]:
df.shape

In [ ]:
df.shape[0]

In [ ]:
missing_data=pd.DataFrame({'Total_count':df.isnull().sum(),'Percentage':(df.isnull().sum()/df.shape[0])*100})
missing_data

In [ ]:
df.columns

In [ ]:
df.is_goal.value_counts()

In [ ]:
df.drop(["Unnamed: 0",  'remaining_min.1', 'power_of_shot.1','knockout_match.1', 'remaining_sec.1', 'distance_of_shot.1'], axis=1, inplace=True)

In [ ]:
#2. Changing dtypes to datetime
df.date_of_game = pd.to_datetime(df.date_of_game, errors='coerce')
df['game_season'] = df['game_season'].astype('object')
df['game_season']

In [ ]:
df['game_season'].dtype

In [ ]:
l_unique=df['game_season'].unique()
l_unique

In [ ]:
v_unique = np.arange(len(l_unique)) # obtaining values in the range of the length of I_unique
v_unique

In [ ]:
df['game_season'].head()

In [ ]:
df['game_season'].replace(to_replace=l_unique, value=v_unique, inplace=True) # replacing categorical data with numerical values
df['game_season'].head()

In [ ]:
df['game_season'] = df['game_season'].astype('int') # converting the datatype of the column from int64 to int32
df['game_season'].head()

In [ ]:
df2.isnull().sum()

# handling missing value

In [45]:
df['power_of_shot']=df['power_of_shot'].isnull()

In [59]:
df['power_of_shot'].isnull().sum()

0