In [20]:
import pandas as pd 
import matplotlib.pyplot as plt
import pickle
import numpy as np

In [22]:
from pandas_profiling import ProfileReport

ModuleNotFoundError: No module named 'pandas_profiling'

In [27]:
pip3 install jupyter notebook

SyntaxError: invalid syntax (<ipython-input-27-a9b3278c24ca>, line 1)

In [25]:
pip install pandas-profiling

Requirement already satisfied: pandas-profiling in c:\users\veena.b.s\appdata\local\continuum\anaconda3\lib\site-packages (3.1.0)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in c:\users\veena.b.s\appdata\local\continuum\anaconda3\lib\site-packages (from pandas-profiling) (1.3.5)
Requirement already satisfied: markupsafe~=2.0.1 in c:\users\veena.b.s\appdata\local\continuum\anaconda3\lib\site-packages (from pandas-profiling) (2.0.1)
Requirement already satisfied: seaborn>=0.10.1 in c:\users\veena.b.s\appdata\local\continuum\anaconda3\lib\site-packages (from pandas-profiling) (0.11.2)
Requirement already satisfied: joblib~=1.0.1 in c:\users\veena.b.s\appdata\local\continuum\anaconda3\lib\site-packages (from pandas-profiling) (1.0.1)
Requirement already satisfied: scipy>=1.4.1 in c:\users\veena.b.s\appdata\local\continuum\anaconda3\lib\site-packages (from pandas-profiling) (1.7.3)
Requirement already satisfied: tqdm>=4.48.2 in c:\users\veena.b.s\appdata\local\continuum\anaconda3\lib\site-packages (from pandas-profiling) (4.64.0)
Requirement already satisfied: pydantic>=1.8.1 in c:\users\veena.b.s\appdata\local\continuum\anaconda3\lib\site-packages (from pandas-profiling) (1.9.0)
Requirement already satisfied: tangled-up-in-unicode==0.1.0 in c:\users\veena.b.s\appdata\local\continuum\anaconda3\lib\site-packages (from pandas-profiling) (0.1.0)
Requirement already satisfied: visions[type_image_path]==0.7.4 in c:\users\veena.b.s\appdata\local\continuum\anaconda3\lib\site-packages (from pandas-profiling) (0.7.4)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\veena.b.s\appdata\local\continuum\anaconda3\lib\site-packages (from pandas-profiling) (3.1.1)
Requirement already satisfied: missingno>=0.4.2 in c:\users\veena.b.s\appdata\local\continuum\anaconda3\lib\site-packages (from pandas-profiling) (0.5.1)
Requirement already satisfied: matplotlib>=3.2.0 in c:\users\veena.b.s\appdata\local\continuum\anaconda3\lib\site-packages (from pandas-profiling) (3.5.1)
Requirement already satisfied: PyYAML>=5.0.0 in c:\users\veena.b.s\appdata\local\continuum\anaconda3\lib\site-packages (from pandas-profiling) (5.1.2)
Requirement already satisfied: numpy>=1.16.0 in c:\users\veena.b.s\appdata\local\continuum\anaconda3\lib\site-packages (from pandas-profiling) (1.16.5)
Requirement already satisfied: phik>=0.11.1 in c:\users\veena.b.s\appdata\local\continuum\anaconda3\lib\site-packages (from pandas-profiling) (0.12.2)
Requirement already satisfied: multimethod>=1.4 in c:\users\veena.b.s\appdata\local\continuum\anaconda3\lib\site-packages (from pandas-profiling) (1.7)
Requirement already satisfied: requests>=2.24.0 in c:\users\veena.b.s\appdata\local\continuum\anaconda3\lib\site-packages (from pandas-profiling) (2.27.1)
Requirement already satisfied: htmlmin>=0.1.12 in c:\users\veena.b.s\appdata\local\continuum\anaconda3\lib\site-packages (from pandas-profiling) (0.1.12)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\veena.b.s\appdata\local\continuum\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling) (2.8.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\veena.b.s\appdata\local\continuum\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling) (2019.3)
Requirement already satisfied: colorama; platform_system == "Windows" in c:\users\veena.b.s\appdata\local\continuum\anaconda3\lib\site-packages (from tqdm>=4.48.2->pandas-profiling) (0.4.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\veena.b.s\appdata\local\continuum\anaconda3\lib\site-packages (from pydantic>=1.8.1->pandas-profiling) (4.1.1)
Requirement already satisfied: networkx>=2.4 in c:\users\veena.b.s\appdata\local\continuum\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas-profiling) (2.6.3)
Requirement already satisfied: attrs>=19.3.0 in c:\users\veena.b.s\appdata\local\continuum\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas-profiling) (21.4.0)
Requirement already satisfied: imagehash; extra == "type_image_path" in c:\users\veena.b.s\appdata\local\continuum\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas-profiling) (4.2.1)
Requirement already satisfied: Pillow; extra == "type_image_path" in c:\users\veena.b.s\appdata\local\continuum\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas-profiling) (6.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\veena.b.s\appdata\local\continuum\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\veena.b.s\appdata\local\continuum\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (1.1.0)
Requirement already satisfied: packaging>=20.0 in c:\users\veena.b.s\appdata\local\continuum\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (21.3)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\veena.b.s\appdata\local\continuum\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (4.31.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\veena.b.s\appdata\local\continuum\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (2.4.2)
Requirement already satisfied: charset-normalizer~=2.0.0; python_version >= "3" in c:\users\veena.b.s\appdata\local\continuum\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (2.0.12)
Requirement already satisfied: idna<4,>=2.5; python_version >= "3" in c:\users\veena.b.s\appdata\local\continuum\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (2.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\veena.b.s\appdata\local\continuum\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (1.24.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\veena.b.s\appdata\local\continuum\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (2019.9.11)
Requirement already satisfied: six>=1.5 in c:\users\veena.b.s\appdata\local\continuum\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling) (1.12.0)
Requirement already satisfied: PyWavelets in c:\users\veena.b.s\appdata\local\continuum\anaconda3\lib\site-packages (from imagehash; extra == "type_image_path"->visions[type_image_path]==0.7.4->pandas-profiling) (1.0.3)
Requirement already satisfied: setuptools in c:\users\veena.b.s\appdata\local\continuum\anaconda3\lib\site-packages (from kiwisolver>=1.0.1->matplotlib>=3.2.0->pandas-profiling) (41.4.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
df=pd.read_csv("https://raw.githubusercontent.com/justmarkham/scikit-learn-videos/master/data/Advertising.csv")

In [4]:
df

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [11]:
df.describe()

       Unnamed: 0          TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000

In [ ]:
ProfileReport(df)